In [25]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neural_network import MLPRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report,confusion_matrix
import matplotlib.pyplot as plt
import numpy as np

In [32]:
dataset = pd.read_csv('C:\\Users\\Meeta\\dev\\projects\\MachineLearning\\ml-assignment-2\\data\\bikeRentalHourlyTrain.csv', header = 0)

In [33]:
dataset.head()

,Unnamed: 0,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,2480,2481,2011-04-18,2,0,4,6,0,1,1,1,0.40,0.4091,0.82,0.0000,3,51,54
1,4731,4732,2011-07-21,3,0,7,1,0,4,1,2,0.74,0.7273,0.84,0.2239,5,16,21
2,7422,7423,2011-11-10,4,0,11,21,0,4,1,1,0.36,0.3333,0.57,0.2537,6,130,136
3,8588,8589,2011-12-29,1,0,12,15,0,4,1,2,0.30,0.3182,0.52,0.0896,27,150,177
4,16339,16340,2012-11-18,4,1,11,13,0,0,0,1,0.40,0.4091,0.62,0.3284,113,334,447

In [4]:
dataset["season"].value_counts()

3    3389
2    3269
1    3203
4    3173
Name: season, dtype: int64

In [5]:
#dropping the columns which are not so important
dataset.drop(['Unnamed: 0', 'dteday', 'atemp', 'casual', 'registered'], axis=1, inplace=True)

In [6]:
dataset.head()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,hum,windspeed,cnt
0,2481,2,0,4,6,0,1,1,1,0.40,0.82,0.0000,54
1,4732,3,0,7,1,0,4,1,2,0.74,0.84,0.2239,21
2,7423,4,0,11,21,0,4,1,1,0.36,0.57,0.2537,136
3,8589,1,0,12,15,0,4,1,2,0.30,0.52,0.0896,177
4,16340,4,1,11,13,0,0,0,1,0.40,0.62,0.3284,447

In [8]:
dataset["weekday"].value_counts()

6    1897
4    1876
0    1868
1    1859
2    1856
5    1851
3    1827
Name: weekday, dtype: int64

In [9]:
dataset.columns

Index(['instant', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'hum', 'windspeed', 'cnt'],
      dtype='object')

In [10]:
#dataset2dataset.columns = pd.get_dummies(dataset, columns =['dteday', 'temp', 'hum', 'windspeed'])

In [11]:
#dataset2.columns

In [12]:
X = dataset.iloc[:, 0:11]
y = dataset.iloc[:, 12]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .25, random_state=0)

In [13]:
X_train.shape

(9775, 11)

In [14]:
y_train.shape

(9775,)

In [15]:
# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [16]:
# Make predictions using the testing set
prediction = regr.predict(X_test)

In [17]:
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(y_test, prediction))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(y_test, prediction))

Mean squared error: 20596.99
Variance score: 0.39

In [18]:
# Check how bad the MSE is ...
y_bar_squared = (sum(y_test)/float(len(y_test)))**2
print(mean_squared_error(y_test, prediction)/y_bar_squared)

0.550556685536

In [ ]:
# Neural Networks

In [ ]:
# Now let's build a MLP regressor ...
MLPregr = MLPRegressor(hidden_layer_sizes=(5,), max_iter=100000)

In [ ]:
MLPregr.fit(X_train,y_train)

In [ ]:
predictions = MLPregr.predict(X_train)

In [ ]:
predictions[0:2]

In [ ]:
# Comparable to Linear regression. Let's see if scaling the data helps ...
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [ ]:
scaler.fit(X_train)

In [ ]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
MLPregr.fit(X_train,y_train)

In [ ]:
predictions = MLPregr.predict(X_test)

In [ ]:
# this is the MSE for the model
sum((predictions - y_test)**2)/len(predictions)

In [ ]:
# here we do a 5-fold CV using the Neural Network - should give a better understanding of the 
# true MSE for this model.
from sklearn.model_selection import KFold

In [ ]:
kf = KFold(n_splits=5)

In [ ]:
kf.get_n_splits(X)

In [ ]:
# Now we compute the models and average the MSEs:
MSE = 0.0
for train_index, test_index in kf.split(X):
    MLPregr = MLPRegressor(hidden_layer_sizes=(5,), max_iter=100000)
    MLPregr.fit(X[train_index],y[train_index])
    predictions = MLPregr.predict(X[test_index])
    MSE += sum((predictions - y[test_index])**2)/len(predictions)
    
print(MSE/5.0)

In [19]:
#Using KNN

In [20]:
KNN = KNeighborsClassifier(n_neighbors=5)

In [22]:
KNN.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [24]:
predictions = KNN.predict(X_test)

In [26]:
print(confusion_matrix(y_test,predictions))

[[ 6  1  6 ...,  0  0  0]
 [ 5  4  4 ...,  0  0  0]
 [10  9  4 ...,  0  0  0]
 ...,
 [ 0  0  0 ...,  0  0  0]
 [ 0  0  0 ...,  0  0  0]
 [ 0  0  0 ...,  0  0  0]]

In [27]:
KNN.score(X_test,y_test)

0.010432648051549556

In [28]:
# Doesn't look right! :(